<style>
    table,
    th,
    td,
    .tabledState {
        font-family: Myriad, Helvetica, Tahoma, Arial, clean, sans-serif;
        border-collapse: collapse;
        padding: 4px;
        margin-left: 12px;
        text-align: left;
        font-size: 12px;
        width: 40%;
    }

    .colouredStatenormal {
        font-weight: bold;
        color: green;
    }

    .colouredStatefailed {
        font-weight: bold;
        color: red;
    }

    .colouredStatewarning {
        font-weight: bold;
        color: orange;
    }
</style>
<p class="device"
    style="font-color: white; font-family: Myriad,Helvetica,Tahoma,Arial,clean,sans-serif; color: white; font-size: 22px; width: 100%; margin-left: 10px; margin-right: 4px; vertical-align: middle; padding-top: 5px; padding-right: 30px; padding-bottom: 3px; padding-left: 30px; background-color: #4aa3d6;">
    <b>{{DeviceName}}</b> at <b>{{CustomerName}}</b> </p>
<p class="header"
    style="font-family: Myriad,Helvetica,Tahoma,Arial,clean,sans-serif; color: #fff; font-size: 20px; background-color: #243f76; width: 100%; margin-left: 10px; margin-right: 4px; vertical-align: middle; font-weight: bold; padding-right: 30px; padding-top: 5px; padding-bottom: 3px; padding-left: 30px;">
    Service Summary</p>
<table
    style="font-family: Myriad,Helvetica,Tahoma,Arial,clean,sans-serif; border-collapse: collapse; padding-bottom: 4px; padding-right: 4px; padding-top: 4px; padding-left: 4px; margin-left: 12px; text-align: left; font-size: 12px; width: 40%;"
    width="100%">
    <tbody>
        <tr>
            <td align="left"
                style="font-family: Myriad,Helvetica,Tahoma,Arial,clean,sans-serif; border-collapse: collapse; padding-bottom: 4px; padding-right: 4px; padding-top: 4px; padding-left: 4px; margin-left: 12px; text-align: left; font-size: 12px; width: 40%;">
                <b>Service</b></td>
            <td align="left"
                style="font-family: Myriad,Helvetica,Tahoma,Arial,clean,sans-serif; border-collapse: collapse; padding-bottom: 4px; padding-right: 4px; padding-top: 4px; padding-left: 4px; margin-left: 12px; text-align: left; font-size: 12px; width: 40%;">
                {{AffectedService}} - {{TaskIdent}}</td>
        </tr>
        <tr>
            <td align="left"
                style="font-family: Myriad,Helvetica,Tahoma,Arial,clean,sans-serif; border-collapse: collapse; padding-bottom: 4px; padding-right: 4px; padding-top: 4px; padding-left: 4px; margin-left: 12px; text-align: left; font-size: 12px; width: 40%;">
                <b>Metric that triggered the notification</b></td>
            <td align="left"
                style="font-family: Myriad,Helvetica,Tahoma,Arial,clean,sans-serif; border-collapse: collapse; padding-bottom: 4px; padding-right: 4px; padding-top: 4px; padding-left: 4px; margin-left: 12px; text-align: left; font-size: 12px; width: 40%;">
                {{TaskTriggeringScanDetail}}</td>
        </tr>
        <tr>
            <td align="left"
                style="font-family: Myriad,Helvetica,Tahoma,Arial,clean,sans-serif; border-collapse: collapse; padding-bottom: 4px; padding-right: 4px; padding-top: 4px; padding-left: 4px; margin-left: 12px; text-align: left; font-size: 12px; width: 40%;">
                <b>State Transition</b></td>
            <td align="left"
                style="font-family: Myriad,Helvetica,Tahoma,Arial,clean,sans-serif; border-collapse: collapse; padding-bottom: 4px; padding-right: 4px; padding-top: 4px; padding-left: 4px; margin-left: 12px; text-align: left; font-size: 12px; width: 40%;">
                {{QualitativeOldColouredState}} to {{QualitativeNewColouredState}}</td>
        </tr>
        <tr>
            <td align="left"
                style="font-family: Myriad,Helvetica,Tahoma,Arial,clean,sans-serif; border-collapse: collapse; padding-bottom: 4px; padding-right: 4px; padding-top: 4px; padding-left: 4px; margin-left: 12px; text-align: left; font-size: 12px; width: 40%;">
                <b>Time of State Transition</b></td>
            <td align="right"
                style="font-family: Myriad,Helvetica,Tahoma,Arial,clean,sans-serif; border-collapse: collapse; padding-bottom: 4px; padding-right: 4px; padding-top: 4px; padding-left: 4px; margin-left: 12px; text-align: left; font-size: 12px; width: 40%;">
                {{TimeOfStateChange}}</td>
        </tr>
    </tbody>
</table>
<p align="left" class="rcLink"
    style="font-family: Myriad,Helvetica,Tahoma,Arial,clean,sans-serif; padding-top: 4px; padding-left: 4px; padding-bottom: 4px; padding-right: 4px; text-align: left; font-size: 12px;">
    To remotely access this device, <a href="{{RemoteControlLink}}">click here.</a></p>