body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table,
th,
td,
.tabledState {
  font-family: Myriad, Helvetica, Tahoma, Arial, clean, sans-serif;
  border-collapse: collapse;
  padding: 4px;
  margin-left: 12px;
  text-align: left;
  font-size: 12px;
  width: 40%;
}

.colouredStatenormal {
  font-weight: bold;
  color: green;
}

.colouredStatefailed {
  font-weight: bold;
  color: red;
}

.colouredStatewarning {
  font-weight: bold;
  color: orange;
}

.device {
  font-color: white;
  font-family: Myriad, Helvetica, Tahoma, Arial, clean, sans-serif;
  color: white;
  font-size: 22px;
  margin-left: 10px;
  margin-right: 4px;
  margin-bottom: 0px;
  vertical-align: middle;
  padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 3px;
  padding-left: 30px;
  background-color: #4aa3d6;
}

.header {
  font-family: Myriad, Helvetica, Tahoma, Arial, clean, sans-serif;
  color: #fff;
  font-size: 20px;
  background-color: #243f76;
  margin-left: 10px;
  margin-right: 4px;
  margin-top: 0px;
  vertical-align: middle;
  font-weight: bold;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-left: 30px;
}

.info {
  font-family: Myriad, Helvetica, Tahoma, Arial, clean, sans-serif;
  border-collapse: collapse;
  padding-bottom: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-left: 4px;
  margin-left: 12px;
  text-align: left;
  font-size: 12px;
  width: 40%;
}

.info td {
  font-family: Myriad, Helvetica, Tahoma, Arial, clean, sans-serif;
  border-collapse: collapse;
  padding-bottom: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-left: 4px;
  margin-left: 12px;
  text-align: left;
  font-size: 12px;
  width: 40%;
}